:root {
  --almost-grey: #4d4d4d;
  --project-com-blue: #0d0cb5;
}

/* General */

#root {
  margin: 0;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header Component*/
#header {
  width: 100%;
}

#header #div-1 {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  height: auto;
  padding: 10px 0;
  align-items: center;
}

.contacts {
  display: flex;
  gap: 20px;
  align-items: center;
}

.contacts strong {
  color: rgb(65, 65, 70)
}

.contacts a {
  font-size: medium;
  color: rgb(19, 19, 88);
}

.socials {
  width: 20%;
}

.social-list {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.social-list svg {
  font-size: 20px;
  color: rgb(39, 39, 158);
}

#header #div-2 {
  border-top: 1px solid rgb(238, 225, 225);
  height: 133px;
}

#only-child {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  height: 100%;
}

#logo-name {
  grid-column: 1/ span 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo {
  width: 54px;
  height: 48px;
}

#logo-name h6 {
  font-size: 1em;
  line-height: 2;
  font-weight: 100;
  color: grey;
}

#only-child #nav {
  grid-column: 3/-2;
  display: flex;
  gap: 2em;
  align-items: center;
}

.nav-link {
  /* font-size: larger; */
  font-weight: 300;
  /* font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

#nav :not(li:nth-of-type(1)) a {
  color: rgb(31, 29, 29);
}

#nav li a:hover {
  color: #0000ee;
  transition-duration: 300ms;
}

@media (max-width: 1200px) {
  #div-1 {

    grid-template-columns: 1fr 2fr 1fr;
  }

  .contacts,
  .socials {
    grid-column: 2/ 3;
  }
}

@media (max-width: 700px) {
  .social-list {
    justify-content: center;
    gap: 20px;
  }

  .contacts {
    justify-content: center;
  }

  .contacts,
  .socials {
    width: 100%;
  }

  #div-1 {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 0;
  }
}


/* Section A Component */
#section-a {
  background-image: url("http://umayyfa.com/images/hero_1.jpg");
  /* -webkit-filter: blur(4px);
  filter: blur(4px); */
  height: 65vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#content{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-b {
  width: 80%;
  background-color: black;
  margin: auto;
  position: relative;
  top: -60px;
  padding: 40px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  gap: 50px;
}


#section-b div:first-of-type {
  grid-column: 1 / 2;
}

.section-b-b {
  grid-column: 2/span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.black-background {
  line-height: 1.7;
  color: var(--almost-grey);
  font-weight: 400;
  font-size: 1rem;
}

.h3 {
  color: white;
}

.h1 {
  font-size: larger;
  font-weight: 600;
}

#circle {
  position: relative;
  top: 5px;
  height: 60px;
  margin-bottom: 0;
  padding: 0;
  width: 50px;
  clip-path: circle();
  background-color: blue;
}

#inner-triangle {
  width: 80px;
  position: relative;
  left: -5px;
  top: 5px;
  height: 100px;
  clip-path: polygon(33% 2%, 33% 14%, 45% 7%);
  background-color: #fff;

}

#first-div-inner-div {
  display: flex;
  align-items: center;
  gap: 40px;
}

#img-container {
  width: 100%;
  margin: 30px auto;
}

#section-b-img {
  width: 100%;
  aspect-ratio: 16/22;
}

@media (max-width: 1200px) {

  #img-container {
    width: 90%;
    height: 500px;
    margin: 30px auto;
  }

  #section-b-img {
    width: 100%;
    height: 100%;
  }

  #section-b {
    display: block;
  }

  .section-b-a {
    margin-bottom: 2em;
  }
}

@media (max-width: 800px) {
  .section-b-b {
    display: block;
  }

  .section-b-b div {
    margin-bottom: 2em;
  }
}

/* WhatWeStandFor Component */

#what-we-stand-for {
  display: flex;
  width: 80%;
  margin: 2em auto 0;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px
}

#values,
#mission,
#objectives {
  width: 300px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
}

.black-background h1 {
  font-size: 2em;
}

.underlay {
  position: relative;
  top: 0;
  z-index: -100;
  height: 100px;
  font-size: 10em;
  font-weight: 1000;
  color: #f1f1f5;
}

.overlay {
  position: relative;
  top: 0;
  left: 50px;
}

/* Projects Component */
#product-component{
  display: grid;
  row-gap: 100px;
}
#projects-div {
  width: 100%;
  margin: 5em auto;
  display: grid;
  justify-content: center;
  row-gap: 50px;
}

#projects-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;

}

.each-project {
  width: 430.33px;
  height: 310px;
  position: relative;
}

.each-project img {
  width: 100%;
}

#project-header {
  display: grid;
  row-gap: 10px;
  justify-content: center;
  font-size: 4em;
}


.project-overlay
{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: 0;
  color: white;
  transition: .6s;
}

.project-overlay:hover{
  opacity: 1;
}

.project-overlay > *{
  transform: translateY(50px);
  transition: transform .5s;
}

.project-overlay:hover > *{
  transform: translateY(10px);
}

.underline {
  height: 3px;
  width: 2em;
  margin: 0 auto;
  background-color: var(--project-com-blue);
}

#write-up {
  width: 70%;
}

#project-button{
  padding: 15px 35px;
  border-radius: 40px;
  border: 0;
  background-color: var(--project-com-blue);
  color: white !important;
  font-size: small !important;
}

#project-button:hover{
  cursor: pointer;
}

#write-up,
#project-button {
  margin: 0 auto 0;
  font-size: 1.2em;
  text-align: center;
  color: var(--almost-grey)
}

#our-team {
  margin: 0 auto;
  display: grid;
  row-gap: 50px;
  
}

#our-team-header {
  display: grid;
  justify-content: center;
  row-gap: 10px;
  font-size: 2em;
  font-weight: 800;
  color: var(--project-com-blue);
}

.underline-2 {
  width: 2.5em;
}


#project-social-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

#project-social-list svg {
  color: rgb(255, 255, 255);
  position: relative;
  top: 7px;
  left: 0;

}

.project-list {
  width: 30px;
  height: 30px;
  align-items: center;
  clip-path: circle();
  background-color: var(--almost-grey);
  text-align: center;
}

#team-member-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.team-member {
  width: 30em;
  text-align: center;
}

.member-picture{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}


#hire-us {
  width: 100%;
  background-color: #0d0bc5;
  height: 8em;
  text-align: center;
  display: grid;
  align-items: center;
  margin-top: 50px;
}

#hire-us div{
  font-size: 2em;
  color: #f1f1f5;
}


/* Foot Note Component */
#major-foot-note{
  width: 100%;
  background-color: #333333;
}
#foot-note {
  min-height: 10em;
  /* background-color: #333333; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 90px 0;
}

#foot-note div{
  width: 300px;
}

.foot-note-header{
  margin-bottom: 20px;
  color: rgb(224, 214, 214);
}

#inner-feature
{
  display: grid;
  width: 100%;
  /* justify-content: center; */
}

#features-list li{
  line-height: 2;
  color: #737373;
}

.about-us{
  line-height: 1.7;
  font-weight: 100;
  font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, 
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #737373;
  margin-right: 20px;
}
 

#footer-social-list {
  display: flex;
  gap: 20px;
}

#footer-social-list svg{
  color: #737373;
}

#footer-social-list{
  display: flex;
}



#sub-letter div input{
  height: 40px;
  width: 200px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
  padding-top: 2px;
  background-color: #737373;
  border: 1px solid rgb(170, 165, 165);
  border-right: 0;
}

#sub-letter button{
  height: 44px;
  width: 60px;
  border: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: blue;
}

#line{
  width: 95%;
  height: 1px;
  margin: auto;
  background-color: rgb(170, 165, 165);
}

#copy-right{
  margin: auto;
  text-align: center;
  padding: 50px;
  color: #737373;
}

#copy-right a{
  color: #737373;
}